.typewriter {
    overflow: hidden;
    display: inline-block;
    border-right: 0.15em solid rgb(212, 170, 93);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation: typing-animation 3s steps(20, end);
    overflow: hidden;
    white-space: nowrap;
  }

  .typewriter-animation {
    animation: typewriter 0.5s steps(40) forwards; /* Animation definition */
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  